name: Python Unit Tests with Coverage

on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install .[dev]

    - name: Install PythonCDT & interarray
      run: |
        mkdir dependencies
        cd dependencies
        git clone https://github.com/mdealencar/interarray.git
        git clone --recurse-submodules https://github.com/artem-ogre/PythonCDT.git
        cd PythonCDT
        pip install .
        cd ../interarray
        pip install -r requirements.txt
        pip install highspy==1.9.0
        pip install .
        cd ../..

    - name: Install Ard
      run: |
        pip install .[dev]

    - name: Run unit tests with coverage
      run: |
        pytest --cov=ard --cov-fail-under=80 test/unit

    # - name: Upload coverage report
    #   uses: codecov/codecov-action@v2
    #   with:
    #     file: ./coverage.xml
    #     flags: unittests
    #     name: codecov-umbrella
